.person-info-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.image-container {
  margin-right: 10px;
}

.profile-image {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%; /* Make image circular */
}

.info {
  flex-grow: 1; /* Fill remaining space */
}

.name {
  font-weight: bold;
  color:'#000000';
  margin-bottom: 5px;
}

.email {
  color: #4E616B;
  margin-bottom: 5px;
}

.close-button {
  background-color: #A0ADB4; 
  color: #fff; /* White text */
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}