.solid {
  max-width: 90%;
  border-top: 1px solid #f4f5f6;
}

.box {
  max-width: 40%;
  align-self: center;
  box-shadow: 0px 8px 12px -2px #00000014, 0px 2px 6px -2px #0000000f;
}

.top {
  display: flex;
  align-items: center;
}
